@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Titillium Web', sans-serif, 'Open Sans';
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

:root {
  --primary: #064206;
  --accent: #ffffff;
}
